#
# property container for zincblende material
#

electron_effective_mass;optional;-100; 12.0; 0.001; 0.99;
electron_effective_mass_transverse;optional;-100; 12.0; 0.001; 0.99;

conduction_band_edge;optional;-20;12.0;-5.0;5.0;

luttinger_parameter_1;optional;0.00001;30;2.0;25;
luttinger_parameter_2;optional;0.000000;15;0.001;10;
luttinger_parameter_3;optional;0.0;2000;1;12;

# forman splits the kane term N kxky into kx Nplus ky + ky Nminus kx
# this does matter in heterostructures. so N = Nplus + Nminus
# foremans estimation is Nminus = M - hbar^2/2m0
# using this option, you can overwrite the foreman estimate
foremans_kane_parameter_N_minus;optional;-100;100;-50;50;

hole_effective_mass;optional;1.0e-10;30;0.005;10;
# transverse hole effective mass (used to calculate effective mass
# bandstructures)
hole_effective_mass_transverse;optional;1.0e-10;30;0.005;10;
valence_band_edge;optional;-10;1;-2;0.0;

bandgap;optional;0.1;7;0.3;3;
optical_matrix_element;optional;0.0;50.0;10.0;35;
spin_orbit_splitting;optional;0.0;4.0;0.05;0.6;

strain_potential_ac;optional;-100.0;100.0;-20.0;0.0;
strain_potential_av;optional;-100.0;100.0;0.0;6.0;
strain_potential_b;optional;-100.0;100.0;-10.0;0.0;
strain_potential_d;optional;-100.0;100.0;-10.0;0.0;

elastic_constant_C11;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C12;optional;1e-50;1e50;1e-49;1e49;
elastic_constant_C44;optional;1e-50;1e50;1e-49;1e49;

lattice_constant;optional;0.1;100;2.0;10;

electrostatic_permittivity;optional;0.5;1e10;1;1e2;
electrostatic_charge;optional;-1e20;1e20;-1e5;1e5;

# piezo coefficents in electron charge / nm^2
piezo_coefficient_e14;optional;-50;50;-50;50;